<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>goodscount</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
	</array>
	<key>goods</key>
	<array>
		<string>商品1</string>
		<string>商品2</string>
		<string>商品3</string>
	</array>
	<key>prices</key>
	<array>
		<real>15</real>
		<real>16.5</real>
		<real>17.2</real>
	</array>
</dict>
</plist>
